---
import DynamicIcon from "@/helpers/DynamicIcon";
---

<div class="container mb-10 lg:mb-16">
  <button
    data-search-trigger
    aria-label="search"
    class="bg-theme-light px-6 py-4 rounded-full max-w-[600px] w-full mx-auto flex items-center gap-x-6 cursor-pointer"
  >
    <DynamicIcon icon="FiSearch" className="text-dark text-2xl" />
    <span class="text-primary/30">Search any blog</span>
  </button>
</div>
