---
import ImageMod from "@/components/ImageMod.astro";
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const trustedBrands = (
  (await getEntry(
    "trustedBrandsSection",
    "trusted-brands"
  )) as CollectionEntry<"trustedBrandsSection">
).data;
---

<div>
  <p
    class="text-lg mb-10 text-center"
    data-aos="fade-up-sm"
    data-aos-delay="0"
    set:html={markdownify(trustedBrands.title)}
  />

  <ul
    class="flex flex-wrap justify-center gap-14"
    data-aos="fade-up-sm"
    data-aos-delay="100"
  >
    {
      trustedBrands.list.map((brand) => (
        <li class="inline-block">
          <ImageMod
            src={brand}
            alt="Trusted Brand"
            class="h-auto"
            width={150}
            height={48}
          />
        </li>
      ))
    }
  </ul>
</div>
