---
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const trustedBrands = (
  (await getEntry(
    "trustedBrandsSection",
    "trusted-brands"
  )) as CollectionEntry<"trustedBrandsSection">
).data;
---

<div class="text-center">
  <p
    class="text-2xl font-semibold text-gray-800 mb-10"
    data-aos="fade-up-sm"
    data-aos-delay="0"
    set:html={markdownify(trustedBrands.title)}
  />

  <ul class="flex flex-wrap justify-center gap-10" data-aos="fade-up-sm" data-aos-delay="100">
    {
      trustedBrands.list.map((industry) => (
        <li class="inline-block">
          <a 
            href={industry.link} 
            class="text-xl font-bold text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out"
          >
            {industry.title}
          </a>
        </li>
      ))
    }
  </ul>
</div>
