---
import { markdownify } from "@/lib/utils/textConverter";
import { Icon } from "astro-icon/components";
import type { CollectionEntry } from "astro:content";

type Props = {
  workforceEfficiency: CollectionEntry<"homepage">["data"]["workforceEfficiency"];
};

const { workforceEfficiency } = Astro.props;
const { title, list } = workforceEfficiency;
---

<section class="section">
  <div class="container">
    <div class="flex flex-col gap-10 md:gap-16">
      <h2
        set:html={markdownify(title)}
        data-aos="fade-up-sm"
        data-aos-delay="0"
      />
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-10">
        {
          list.map((item, index) => (
            <div
              class="flex flex-col pl-6 border-l border-dashed border-dark"
              data-aos="fade-right-sm"
              data-aos-delay={index * 100}
            >
              <div class="flex items-center gap-3 mb-5 md:mb-7">
                <Icon
                  name={item.icon}
                  width={24}
                  height={24}
                  class="text-dark"
                />
                <p class="font-medium text-dark">{item.title}</p>
              </div>
              <p>{item.content}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
